<footer style="background-color:#d21313 !important" class="footer-bottom bg-primary mt-0 sticky">
  <div  class="container mt-2 text-center py-2">
    <span class="text-light align-center" > Iranian Uprising</span><br>
    <span class="text-light">Contact: Telegram:@Iranuprising </span>  
  </div>
</footer>
