<footer  class="footer py-10 bg-dark mt-auto">
<div class="container align-items-center">
   <span class="text-light align-center" > Bread Help 2021</span><br>
  <span class="text-light">&copy A masterpiece By Hassan </span> 
 
  
</div>

</footer>