
  <div style="background-color:#c44e1c !important" class="container-fluid px-0 bg-primary bg-gradient shadow border-bottom border-warning">
  <div class="container">
  <div class="row mx-auto">
    
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark mx-auto">
        <ul>
      
              <Row class="d-flex justify-content-center text-center mx-auto ">  <a  class="nav-link" href="/"> <h3> Iran Uprising  <br/> رستاخیز ایران </h3> <br/> 
              این صفحه شماست. مطالب و و یدیوهای خود را به زبانهای مختلف به آدرس تلگرام<br/>Iranuprising 0046 722 878 932 <br/> ارسال کنید تا در این صفحه منتشر شود. یا در صفحات مجازی  خود منتشر کرده کرده و آدرس آنرا برای ما ارسال کنید</a>
</Row> 
<Row class="d-flex justify-content-center text-center">
           
           
             
        
                  
            <% if(!currentUser){ %> 
            
             
          
            <% } else {%> 
            
          
              <a href="/users/<%= currentUser.id %> " style="color:white"class="mx-auto" ><%=currentUser.name %></a> 
             <% if (currentUser.username==('admin@admin')){%> 
              
               <a  style="color:white" class="mx-auto"  href='/admin'> Manage </a>
              <% } %> 

                 <a  style="color:white"  href='/writenewtext'>Write</a>
            
              <a  style="color:white" class="mx-auto"  href='/logout'>    Log Out </a>
              
                  
          <% } %> 
            
         
        </ul>
        </Row>
        </Row>    
                       
                   </nav>
               </div>
 
  </div>
</div>

