<% layout('layout/boilerplate') %> 
<div>
<h4> هدف ما برقرار کردن ارتباط علمی فرهنگی ایرانیان ساکن سوئد با هموطنان در ایران و همچنین  سوئدی ها است. 
   این سایت همانگونه که می بینید به سه زبان فارسی انگلیسی و سوئدی ست. 
   شما را به همکاری دعوت می کنیم. اگر دانش یا اطلاعاتی دارید که برای ایرانیان چه ساکن سوئد و چه ایران 
  مفید است در سایت عضو شده و مطلب خود را بنویسید. مترجمین گرامی شما می توانید مطالب خود را با نام خود شماره
مترجمی و شرکتی که با آن کار می کنید منتشر کنید. هم به هموطنان اطلاعات می دهید هم تبلیغی ست برای 
کار شما. هموطن گرامی فرزند خود را هم می توانید تشویق کنید در این سایت با زبانی که دوست دارند بنویسند 
فقط خواهشمندم مطالبی بنویسید که سایت در ایران فیلتر نشود زیرا یکی از اهداف مهم این سایت مردم داخل ایران 
هستند و به خصوص نسلی که قرار است از بیست سال دیگر مدیریت کشور را به دست گیرد. هر فرد فقط و فقط مسول 
مطالب خود است و سایر مطالب نوشته شده در سایت به نویسنده مطالب دیگر ارتباطی ندارد.
 <a class="nav-link" href='/Register'>حساب باز کنید</a>
</h4>
</div>
<br>
<div>
<h4>  Our goal is to create relation among iranians in Iran and Sweden and also swedish. You are welcome to 
  create an account and write on this web if you have any information or news which is usefull for these people.
A main target of this web is Iranians who live in Iran so it is importan for us that not publish any articles 
which is not alloewd in Iran and can result the blocking of the web.
 <a class="nav-link" href='/Register'>create Account</a> </h4> 
</h4>
  </div>
<br>
<div>
  <h4>Hej och välkomna! Målet med det här hemsidan är skapa en kultur och kunskap relation mellan Iranier i Iran 
    och Sverige och samtidigt med svenskarna. Vi will också Iranier blir uppdaterade om Sveriges nyheter.
     Om du har någon information eller nyhet som du tror att passar våra mål välkomen att skapa konto och 
     skriv. Har du något konst som du vill visa, välkomen också. Eftersom en store del av hemsidananvädaren kommer att vara i Iran är det väldigt viktig
     for oss att inte publicera något som är inte tilåtet i Iran, Resultatet bli att hemsidan kommer att
     blockeras i Iran. 
      <a class="nav-link" href='/Register'>Skapa konto</a>
  </h4>
  </div>