 <% layout('layout/boilerplate') %> 

 <h1>Please select the image to be added</h1>
 
 <form action="/addimage/<%=text._id %>?_method=PUT " method="POST" enctype="multipart/form-data">
 



       <input type="file" name="image" id="image"><br/> <br/>
      <button type="submit" class="btn btn-success">Add image</button> </form>
    </form> 
    