<% layout('layout/boilerplate') %> 
<h1>Here you can see all yousers</h1>
 <ul style="list-style-type:none">
    <% for(let user of allUsers) { %>
      <div class="card">
        <div class="row">
          <div class="col-md-12">
  
 
    <li><a href="/users/<%= user.id %>"><%= user.name %></a> <br/> 
  
    
    

    
    
     
  
    <br>

    </li> 
          </div>
        </div>
      </div>
   

   <%} %>
  </ul>