<% layout('layout/boilerplate') %> 
<main style="text-align:center">
  <h1> Are you sure that You want to delete your text? </h1>


  <form action="/deletetextconfirm/<%= text.id %> %>  " method="get">
  <br>
<button  class="btn btn-danger" type="submit">Yes delete it</button>

  </form> <br><br>
 <form action="/" method="get">
  <button class="btn btn-success">NO I want to keep my text</button>
  
  </form>
  </main>

