<% layout('layout/boilerplate') %> 
  <h1> Are you sure that You want to delete your Account? </h1>


  <form action="/deleteuserconfirm/<%= user.id %> %>  " method="get">
  <br>
<button delete="delete">delete</button>

  </form>