<% layout('layout/boilerplate') %> 

<div class="container" style="text-align:center">
  <h3>Here you can see all Schools</h3>
    <div class="row">   
      <% for(let school of schools) { %>
        <div class="col-lg-4" style="border: 1px solid rgb(176, 203, 252);">
          <h4><a href="/news/<%= school.id %>/<%=currentUser.id %> "><%= school.schoolsname %></a></h4>    
        </div>
      <%} %>
    </div>
 
  </div>


