
<% layout('layout/boilerplate') %> 
<h1>Here is edit user page</h1>
  <form  action="/users/edit/<%=user._id%>?_method=PUT"method="POST" class="validated-form novalidate">
        
        <div class="mb-3">
          <label class="form-label" for="name">Your Name</label><br>
          <input class="form-control" type="text" name="name" id="name" value="<%=user.name %> " required>
        </div>

 
        
        <button type="submit" class="button-success">Register Changes</button><br><br>
      </form>
