<% layout('layout/boilerplate') %> 
<div class="container" style="text-align:center">

<ul style="list-style: none;">
  <li><h4><%=text.title %></h4> </li> 
  
  
  <li><%=text.text %></li> 
</ul>

    </div>
  