<% layout('layout/boilerplate') %> 
<h1>Have you forgotten your passWord</h1>

<form action="/forgetpass/<%=tempid %> " method="POST">
<label for="username">Please enter your Email? <label/> <br/>
<input type="email" name="username" placeholder="Email"id="username">

<button type="submit">Send</button>
</form>