<% layout('layout/boilerplate') %> 
<br>
<div class="d-flex justify-content-center">
<main class="card col-8"; style="text-align:center">
  <br>
<h3>Have you forgotten your passWord</h3>

<form action="/forgetpass/<%=tempid %> " method="POST">
<label for="username">Please enter your Email? <label/> <br/>
<input type="email" name="username" placeholder="Email"id="username">

<button type="submit">Send</button>
</form>
</main>
</div>