<% layout('layout/boilerplate') %> 
<br>
<div class="d-flex justify-content-center">
<main class="card col-4"; style="text-align:center">
<% for(let friend of friendship.sort() ){ %> 
  <div class="card">
  <ul style="list-style: none;"><li style="color: rgb(12, 11, 11)"> 
    <h6>Friendship Requester: <%=friend.friendshipRequestersSchoolsName %> </h6>
    <h6>Friendship Requested: <%=friend.  friendshipRequestedsSchoolsName %> </h6>
    <h6>confirmation: <%=friend.confirmation %> </h6>
  </li></ul>
  </div> <br>
  <% } %>   
</main>
  </div>