<% layout('layout/boilerplate') %> 
<br/><br/>

<form action="/friendshipconfirm/<%=friendship._id %>?_method=PUT " method="POST">
  
   <h3>You have received friendship request <br/> from this  <a href="/users/<%=friendship.friendrequesterid %>">School: <%=fschool.schoolsname  %>  </a> </h3>
   
     


<h2> Press the button below to Confirm Friendship</h2>

<!-- <input type="text" name="confirmation" id="confirmation" value="true"> -->


<select name="confirmation" id="confirmation">
    <option>Waiting for confirmation?</option>
    <option  value='Yes' > Yes</option>
    <option value='No' >No</option>
    
  </select>

  <button type="submit">Answer</button> <br><br>
  </form>
 