<% layout('layout/boilerplate') %> 

<div class="card" style="text-align:center">
<% for(let friend of friendship.sort() ){ %> 
  <ul><li style="color: rgb(12, 11, 11)"> 
    <h5>Friendship Requester: <%=friend.friendshipRequestersSchoolsName %> </h5>
    <h5>Friendship Requested: <%=friend.  friendshipRequestedsSchoolsName %> </h5>
    <h5>confirmation: <%=friend.confirmation %> </h5>
  </li></ul>
  <% } %>   

  </div>