 <% layout('layout/boilerplate') %> 

 <main style="text-align:center">


  <br>  <br>  <br>
 
<div>

<div class="d-flex justify-content-center">
<main class="card col-6"; style="text-align:center">

  <form  action="/search/gender" method="POST" class="validated-form novalidate ">

  <br>
  <h5>Search according to students gender</h5>

<br>
   <select name="searchKey" id="searchKey" >
            <option>Select Student's gender</option>
            <option  value="boys" > Boys</option>
            <option value="girls" > Girls</option>
            <option value="mixed">Mixed</option>
          </select>
  <br><br>
 <button type="submit" class="btn btn-primary">Search</button> <br><br>
</form>
</div>

<br>




 </main>
 </div>