<% layout('layout/boilerplate') %>

  <body>
    


<div class="container pt-1 home-block text-center">
  <div class="mt-2">
    <h3 class="home-header-text text-center mt-4">Find A School To be Friend with your School</h3>
  </div class="border rounded">
    <img class="border rounded"
      src="https://img.jagranjosh.com//imported/images/E/Articles/Keeping-in-touch-with-school.jpg"
      alt=""
    />

  
  </div>

  </body>