<% layout('layout/boilerplate') %>
<div class="container pt-1 home-block">
  <div class="mt-2">
    <h4 class="home-header-text text-center mt-4">Find A School To be Friend with your School</h4>
  </div>
    <img
      src="https://img.jagranjosh.com//imported/images/E/Articles/Keeping-in-touch-with-school.jpg"
      alt=""
    />
  </div>

