<% layout('layout/boilerplate') %>
<div class="container pt-1 home-block">
  <div class="mt-2">
    

    <h5 class="text-center">Find A School To be Friend with your School</h5>
   
  </div>

 
    <img
      src="https://img.jagranjosh.com//imported/images/E/Articles/Keeping-in-touch-with-school.jpg"
      alt=""
    />
  </div>

