<% layout('layout/boilerplate') %> 

<div class="container" style="text-align:center" >
  <div class="row d-flex justify-content-center ">
    <div class="col-lg-6 mt-5">
      <h2> Password should be at least 6 characters and contain letters, Capital letters, symboles and numbers!</h2>
    </div>
  </div>
</div>