<% layout('layout/boilerplate') %> 

<h1>Here are new backeries</h1>


<form action="/news" method="POST" enctype="multipart/form-data">
<label for="schoolsname">schoolsname</label> <br/> 
  <input type="text" name="schoolsname" id="schoolsname"><br/> <br/>

  
 <label for="numberOfStudents">number Of Students</label> <br/>
  <input type="number" name="numberOfStudents" id="numberOfStudents"  > <br/> <br/>

 <label for="averageMonthlyIncomPerPerson">Average Income per Person among poor ones</label> <br/>
  <input type="number" name="averageMonthlyIncomPerPerson" id="averageMonthlyIncomPerPerson"  > <br/> <br/>

 <label for="location">location</label> <br/>
  <input type="text" name="location" id="location"> <br/> <br/>

 <label for="provience">Provience</label> <br/>
  <input type="text" name="provience" id="provience"> <br/> <br/>

 <label for="city">City</label> <br/>
  <input type="text" name="city" id="city"> <br/> <br/>

 <label for="district">district</label> <br/>
  <input type="text" name="district" id="district"> <br/> <br/>

 <label for="village">Village</label> <br/>
  <input type="text" name="village" id="village"> <br/> <br/>

 <label for="Street">Street</label> <br/>
  <input type="text" name="Street" id="Street"> <br/> <br/>

 <label for="line">Line</label> <br/>
  <input type="text" name="line" id="line"> <br/> <br/>

 <label for="number">Number</label> <br/>
  <input type="text" name="number" id="number"> <br/> <br/>

 <label for="postCode">Post Code</label> <br/>
  <input type="text" name="postCode" id="postCode"> <br/> <br/>

 <label for="mobileNumber">Mobile Number</label> <br/>
  <input type="number" name="mobileNumber" id="mobileNumber"> <br/> <br/>



 
 <input type="file" name="image" id="image" > <br/> <br/>

 <button type="submit">Create</button> <br/> <br/>
</form>