<% layout('layout/boilerplate') %>

<div class="container">
  <div class="row mt-3 d-flex justify-content-center">
    <div class="col-lg-6">
      <div class="pl-0">
        <h4 class="text-primary pl-0 pr-2 py-1">Add your school information</h4>
      </div>
      <hr />
      <form action="/news" method="POST" enctype="multipart/form-data">
        <div class="row">
          <div class="col-lg-6">
            <label for="schoolsname">Schoolsname</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="schoolsname"
              id="schoolsname"
            />
          </div>
        </div>

        <div class="row rounded" style="background: rgb(244, 240, 252)">
          <div class="col-lg-6">
            <label class="form-label" for="gender">Gender of students</label>
          </div>
          <div class="col-lg-6">
            <select
              name="gender"
              id="gender"
              class="pb-1 pt-0 form-control"
              style="height: 30px"
            >
              <option>Student's gender</option>
              <option value="boys">Boys</option>
              <option value="girls">Girlsr</option>
              <option value="mixed">Mixed</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <label for="numberOfStudents">Number of Students</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="number"
              name="numberOfStudents"
              id="numberOfStudents"
            />
          </div>
        </div>

        <div class="row" style="background: rgb(244, 240, 252)">
          <div class="col-lg-6">
            <label for="averagAge"
              >Averag Age</label
            >
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="number"
              name="averagAge"
              id="averagAge"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <label for="averageMonthlyIncomPerPerson"></label>Average Parents Income
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="number"
              name="averageMonthlyIncomPerPerson"
              id="averageMonthlyIncomPerPerson"
            />
          </div>
        </div>

        
        <div class="row" style="background: rgb(244, 240, 252)">
          <div class="col-lg-6">
            <label for="eMail">Email</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="email"
              name="eMail"
              id="eMail"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <label for="location">Location</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="location"
              id="location"
            />
          </div>
        </div>

        <div class="row" style="background: rgb(244, 240, 252)">
          <div class="col-lg-6">
            <label for="provience">Provience</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="provience"
              id="provience"
            />
          </div>
        </div>

         <div class="row">
          <div class="col-lg-6">
            <label for="city">City</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="city"
              id="city"
            />
          </div>
        </div>
        <div class="row" style="background: rgb(244, 240, 252)">
          <div class="col-lg-6">
            <label for="district">District</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="district"
              id="district"
            />
          </div>
        </div>
      
         <div class="row">
          <div class="col-lg-6">
            <label for="village">Village</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="village"
              id="village"
            />
          </div>
        </div>

        <div class="row" style="background: rgb(244, 240, 252)">
          <div class="col-lg-6">
            <label for="Street">Street</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="Street"
              id="Street"
            />
          </div>
        </div>
         <div class="row">
          <div class="col-lg-6">
            <label for="line">Alley</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="line"
              id="line"
            />
          </div>
        </div>
      <div class="row" style="background: rgb(244, 240, 252)">
          <div class="col-lg-6">
            <label for="number">Number</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="number"
              id="number"
            />
          </div>
        </div>
      <div class="row">
          <div class="col-lg-6">
            <label for="postCode">post Code</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="postCode"
              id="postCode"
            />
          </div>
        </div>
        <div class="row" style="background: rgb(244, 240, 252)">
          <div class="col-lg-6">
            <label for="mobileNumber">Mobile or Telephone Number</label>
          </div>
          <div class="col-lg-6">
            <input
              class="form-control"
              style="height: 30px"
              type="text"
              name="mobileNumber"
              id="mobileNumber"
            />
          </div>
        </div>
        <label for="image">Image</label> <br>
            <input type="file" name="image" id="image" />

        <button class="btn btn-primary" type="submit">Register</button>
      </form> <br>
    </div>
  </div>
</div>
