 <% layout('layout/boilerplate') %> 
 
   
<div class="d-flex justify-content-center">
<main class="card col-8"; style="text-align:center">
<h1>Dear user! </h1>
<h3>There is no user with this Email</h3><br>
<h2><%=username %>  </h2>

</main>
</div>
