<% layout('layout/boilerplate') %> 

<div class="d-flex justify-content-center">
   
 <div style="text-align:center" class="col-6 ">

<h4>Hi <h2><%= newUser.name %></h2>  <br/> Welcome! You registred with this email </h4>

<h1><%=newUser.username  %></h1> <br/> <h4> Is it wright Email?  Please Open your Email,
  You should receive an Email from School Help, You may see it in Spam Emails, unspam it and activate your Emails Please. You can login also <a href="http:/login">Log In</a> </h4> <br/>
<h4>Is it wrong Email?  <a href="http:/Register">Please register with correct Email</a>  </h4> <br/>
</div>

</div>