<% layout('layout/boilerplate') %>
<br><br>
<div class="d-flex justify-content-center" >
<main class="card col-lg-8 col-sm-12 col-md-8 p-4"; style="text-align:center ">

  <div class="row">
   
      <form  action="/register" method="POST" class="validated-form novalidate">
        <div class="mb-3">
          <label class="form-label" for="username">Email</label><br>
          <input class="form-control" type="email" name="username" placeholder=""id="email" placeholder="email"required>
        </div>
        <div class="mb-3">
          <label class="form-label" for="name">Write your name</label><br>
          <input class="form-control" type="text" name="name" id="name" placeholder="Please write ur name" required>
        </div>

        

        <div class="mb-3">
          <label class="form-label" for="password">Password</label><br>
          <h9>Password should be at least 6 characters and contain letters, Capital letters, symboles and numbers</h9>
          <input class="form-control" type="password" name="password" id="password" required>
        </div>

        <label for="proficiency"></label> 
<select name="proficiency" id="proficiency" >
  <option value=" ">Proficiency</option>
  <option value="tolk">Tolk</option>
  <option value="artist">Artist</option>
  <option value="Ùphd">Phd</option>
  <option value="teacher">Teacher</option>
</select> <br/><br>

        <button type="submit" class="btn-success">Register</button><br><br>
      </form>

    
  </div>
  </main>
</div>