<% layout('layout/boilerplate') %> 
<br>
   
<div class="d-flex justify-content-center">
<main class="card col-lg-4 col-sm-12 col-md-8 "; style="text-align:center">

<h1>Dear user your password reset successfully
  <a href="/login">you can login to the web</a>
  
</h1>
</main>
</div>