<% layout('layout/boilerplate') %> 
<br>
   
<div class="d-flex justify-content-center">
<main class="card col-8"; style="text-align:center">

<h2>Dear user, An Email with resent link is snet to your email address:
  <%=username %>, You may find it in your spam emails, click on the link and write it to your email and write your new password
  Password should be at least 6 characters and contain letters, Capital letters, symboles and numbers
</h2>
</main>
</div>