<% layout('layout/boilerplate') %> 
<br>
<div class="d-flex justify-content-center">
<main class="card col-8"; style="text-align:center">
  <br>
<h3>Here is School Friendship Page</h3>


</main>
</div>