 <% layout('layout/boilerplate') %> 
 <body>
   
 <div style="text-align:center" class="col-12 text-primary">
<h1>Here you can search </h1>
<h3> <a href="http:/search/schoolname">Search According to name of school</a></h3>
<h3> <a href="http:/search/provience">Search According to Provicence, city or district</a></h3>
<h3> <a href="http:/search/street ">Search According to Street or line</a></hh3>
  <h3> <a href="http:/search/village">Search According to Village's name</a></h3>
<h3> <a href="http:/search/mobilenumber">Search According to Post Code or Mobile Number</a></h3>
<h3> <a href="http:/search/economylevel">Search According to Average Monthly parents Income </a></h3>

</div>
 </body>