 <% layout('layout/boilerplate') %> 
<h1>Search according to name of the school</h1>

 <container  class="d-flex column-justify-content-center">
<div>
<form  action="/search/schoolname" method="POST" class="validated-form novalidate ">

  <div class="mb-3">
  <label class="form-label" for="schoolsname">Please write the name of the school</label><br>
  <input type="text" name="schoolsname" id='schoolsname'>
  
</div>




<button type="submit" class="button-success">Search</button>
</form>
</div>
<br/>

 </container>