 <% layout('layout/boilerplate') %> 
<h1>Here you can search </h1>

<h3> <a href="http:/search/provience">Search According to Provicence, city or district</a></h3>
<h3> <a href="http:/search/street ">Search According to Street or line</a></hh3>
  <h3> <a href="http:/search/village">Search According to Village</a></h3>
<h3> <a href="http:/search/mobilenumber">Search According to Post Code or Mobile Number</a></h3>
<h3> <a href="http:/search/economylevel">Search According to Average Monthly Income per Person among poor ones</a></h3>
<h3> <a href="http:/search/numberpoor">Search According to Number of Poor People</a></h3>

