
  <% layout('layout/boilerplate') %> 

<br>
<div class="d-flex justify-content-center">
<main class="card col-6"; style="text-align:center">

  <h4>Search according to name of the village</h4>
<div><form  action="/search/village" method="POST" class="validated-form novalidate ">

  <div class="mb-3">
  <label class="form-label" for="vi">Please write the name of Village</label><br>
  <input type="text" name="vi" id='vi'>
  
</div>




<button type="submit" class="btn btn-primary">Search</button>
</form>
</div>
<br/>

</main>
</div>