 <% layout('layout/boilerplate') %> 

<br>
 <div class="d-flex justify-content-center">
<main class="card col-6"; style="text-align:center">
  <h4>Search according to name of the school</h4>
<div>
<form  action="/search/schoolname" method="POST" class="validated-form novalidate ">

  <div class="mb-3">
  <label class="form-label" for="schoolsname">Please write the name of the school</label><br>
  <input type="text" name="schoolsname" id='schoolsname'>
  
</div>




<button type="submit" class="btn btn-primary">Search</button>
</form>
</div>
<br/>

</main>
</div>