
 <% layout('layout/boilerplate') %> 

 <main style="text-align:center"><div>
<form  action="/search/mobilenumber" method="POST" class="validated-form novalidate ">

  <div class="mb-3">
  <label class="form-label" for="searchKey">Please write the Mobile Number or Post Code</label><br>
  <input type="number" name="searchKey" id='searchKey'>
  
</div>




<button type="submit" class="btn btn-primary">Search</button>
</form>
</div>
<br/>

</main>