
 <% layout('layout/boilerplate') %> 

  <container  class="d-flex column-justify-content-center">
<div>
<form  action="/search/mobilenumber" method="POST" class="validated-form novalidate ">

  <div class="mb-3">
  <label class="form-label" for="searchKey">Please write the Mobile Number or Post Code</label><br>
  <input type="number" name="searchKey" id='searchKey'>
  
</div>




<button type="submit" class="button-success">Search</button>
</form>
</div>
<br/>

 </container>