

  <% layout('layout/boilerplate') %> 
<br>
<div class="d-flex justify-content-center">
<main class="card col-6"; style="text-align:center">

<h4>Search according to name of street or alley</h4>

 
<div><form  action="/search/street" method="POST" class="validated-form novalidate ">

  <div class="mb-3">
  <label class="form-label" for="searchKey">Please write the name of street or alley</label><br>
  <input type="text" name="searchKey" id='searchKey'>
  
</div>


<button type="submit" class="btn btn-primary">Search</button>


</form>
</div>
<br/>



 </main>
 </div>