
 <% layout('layout/boilerplate') %> 
<br>
 <div class="d-flex justify-content-center">
<main class="card col-6"; style="text-align:center">
<form  action="/search/mobilenumber" method="POST" class="validated-form novalidate ">

  <div class="mb-3">
    <h5>Search According to Post Code or Mobile Number</h5>
  <label class="form-label" for="searchKey">Please write the Mobile Number or Post Code</label><br>
  <input type="number" name="searchKey" id='searchKey'>
  
</div>

<button type="submit" class="btn btn-primary">Search</button>


</form><br>
</div>
<br/>

</main>
</div>