 <% layout('layout/boilerplate') %> 

 <main style="text-align:center">
<h1>Search according to Provience</h1>

  
<div>
<form  action="/search/provience" method="POST" class="validated-form novalidate ">

  <div class="mb-3">
  <label class="form-label" for="provience">Please write the name of Provience</label><br>
  <input type="text" name="provience" id='provience'>
  
</div>




<button type="submit" class="button-success">Search</button>
</form>
</div>
<br/>


 </main>