 <% layout('layout/boilerplate') %> 

 <div style="text-align:center">

 
  <form action="/dialogue/<%=text._id %>?_method=PUT " method="POST" >
 

 <label for="title">Title:</label> <br>
<input type="text" name="title" id="title" value="<%=text.title %> ">

 <label for="text">Text:</label> <br>
 
<textarea  id="text" name="text" rows="15" cols="66"> <%=text.text%>

</textarea>
<br>
<button type="submit" class="btn btn-success">Save Edit</button> <br><br>
</form>
</div>