 <% layout('layout/boilerplate') %> 
<br>
<div class="d-flex justify-content-center">
<main class="card col-6"; style="text-align:center">


  <form action="/dialogue" method="POST">

 <label for="title">Title:</label> <br>
<input type="text" name="title" id="title">
<br>
 <label for="text">Text:</label> 
 <br>
<textarea id="text" name="text"
          rows="15" cols="66">

</textarea>
<label for="language"> <h2> Language زبان:     </h2></label> <br>
<select name="language" id="language" >
  <option value="English">ٍEnglish</option>
  <option value="Persian">فارسی</option>
  <option value="ُSwedish">Svenska</option>
  <option value="Mixed">mixed</option>
</select> <br/>

<br>
<button type="submit" class="btn btn-success">Send</button> <br><br>
</form>
</main>
</div>