 <% layout('layout/boilerplate') %> 

 <div style="text-align:center">


  <form action="/dialogue" method="POST">

 <label for="title">Title:</label> <br>
<input type="text" name="title" id="title">
<br>
 <label for="text">Text:</label> 
 <br>
<textarea id="text" name="text"
          rows="15" cols="66">

</textarea>
<br>
<button type="submit" class="btn btn-success">Send</button> <br><br>
</form>
</div>