<% layout('layout/boilerplate') %> 
<h2>سپاس فراوان از ارسال مطلب شما. مطلب شما پس از تایید در سایت قرار خواهد گرفت</h2>
<br> <br>
<h2>Than you for your text. It will be published after confirmation</h2>
<br> <br>
<h2>Tusen tack för att du skickade ett text. Det kommer att visas på hemsidan när det bli godkänd</h2>

<a href="/">بازگشت به صفحه اول</a>