<% layout('layout/boilerplate') %> 
<h2>با سپاس فراوان، متن شما ویرایش گردید پس از تایید نمایش داده خواهد شد</h2>
<br> <br>
<h2>Than you very much. Your text was edited successfully, It will be published after confirmation</h2>
<br> <br>
<h2>Tusen tack. Dit din text har redigerats.  Det kommer att visas på hemsidan när det bli godkänd</h2>

<a href="/">بازگشت به صفحه اول</a>