<% layout('layout/boilerplate') %> 
<br>
   
<div class="d-flex justify-content-center">
<main class="card col-8"; style="text-align:center">

<h3>you enterded this Email: <%= worngUser  %> </h1> 
<h3>This Email is not Registered or you entered a wrong password</h3> <br/>
<h3>Please write the correct Email </h3> 

<h3> <a href="/Register"> If you are not registered register please!</a>  </h3> <br/>
<h4> <a href="/forgetpass">If you have forgaten the password enter your email to reset your password</a> </h4>
</main>
</div>