<% layout('layout/boilerplate') %> 


<h2>you enterded this Email: <%= worngUser  %> </h1> 
<h2>This Email is not Registered or you entered a wrong password</h2> <br/>
<h2>Please write the correct Email </h2> 
<h2> <a href="http:/Register"> If you are not registered pleaseregister</a>  </h2> <br/>
<h2> <a href="/forgetpass">If you have forgaten the password enter your email to reset your password</a> </h2>
