@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
  display: flex;
  min-height: 99vh;
  flex-direction: column; 
  position: relative;
  padding-bottom: 70px;
} */
/* .main{
  min-height: 100vh;
  position: relative;
    padding-bottom: 70px;
} */

/* .footer {
  flex: 1;
  padding-bottom: 20px;
 max-height: 60px;
 text-align: center;
  position:absolute;



} */


.footer-bottom {
  flex-shrink: 0;
  text-align: center;
    position:sticky;
bottom: 0px;
width: 100%;
}

.home-header-text{
  font-family: 'Ubuntu', cursive;
  color: rgb(189, 44, 218);
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 5px 10px rgba(0, 0, 0, 0.1);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  box-sizing: border-box;
}



